
.first{
    margin-left: 676px;
}


.navbar-expand-lg {
    background-color: black;
    height: 93px;
    color: white;
}

.navbar-expand-lg .navbar-nav .nav-link {
        color:white;
}
.foodie{
    height: 210px;
    margin-top: -57px;
}



.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    height: 80px;
}



.css-1q39md6-MuiButtonBase-root-MuiButton-root {
    font-size: 50px;
}
.css-i4bv87-MuiSvgIcon-root{
    margin-top: -58px;
    height: 197px;

}
.imgg{
    height: 211px;
   
    margin-bottom: -51px;

}

@media screen and (min-width: 200px),(max-width:768px) {
    .imgg {
        margin-top: -90px;
        margin-left: -105px;
    }
    .css-1ajk008 {
        position: absolute;
        width: 100%;
    }
    .footlogo{
        margin-left: -44px;
        margin-top: -30px;
    }
    .footertext {
        margin-top: 11px;
        font-size: 18px;
        margin-left: -49px;
    
    }
}

 

#onee{
    margin-left: 500px;
column-gap: 30px;}
.active{
    color: white !important;
    background-color: rgb(242 98 35) !important;
    border-radius: 5px;
    margin-right: 16px;
}
.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
    width: 120px;
    padding-left: 20px;
}
.imgg2{
    background-color: black;
    width: 161px;
    height: 135px;
    margin-left: -37px;
    margin-top: -23px;
    padding-top: 15px;
}

#menuu{
    margin-top: 16px;
}
.nav{
    display: flex;
    flex-direction: column;
}
 
 #homedrawer{
    margin-top: 13px;
    margin-bottom: -16px;
    margin-left: 15px;
 }
 .css-vubbuv {
    margin-top: -55px;
 }
 /* ........... above css is for header ................. */
.footlogo{
    
    margin-top: -21px;
    left: -204px;
}

.footertext{
    
    margin-top: 30px;
    font-size: 18px;
    margin-left: -49px;
}
.css-1ypfif-MuiTypography-root{
  justify-content: center;
    height: 64px;
  display: flex;
  margin-left: -93px;
}
.css-1ypfif-MuiTypography-root {
    margin-left: -93px;
}
@media screen and (min-width: 200px),(max-width:768px) {
    .footlogo{
        margin-top: -159px;
        margin-top: -159px;
        position: absolute;
        top: 127px;
        left: -3px;
    
    }
.footertext{
    font-size: 18px;
    margin-left: 74px;
    margin-top: 30px;
}}
/* .............above code is for  footer...... */