*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;

}
.foodimg{
    width: 94%;
    border: 6px solid orangered;
    position: relative;
    height: 605px;
    margin: 40px;

}
.quote{
    position: absolute;
    top: 40%;
    background-color: rgba(0, 0, 0, 0.6);
    color: wheat;
    width: 562px;
    font-size: 24px;
    font-family: cursive;
    left: 80px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2), -3px -3px 6px rgba(255, 255, 255, 0.2);
    padding: 10px;
    
    font-weight: 600;
    padding: 37px;
}

@media screen and (min-width: 200px) and (max-width: 600px) {
    .quote {
        position: absolute;
        font-size: 13px;
        top: 131px;
        left: 38px;
        width: 282px;
    }
    .foodimg{
        height: 277px;

    margin-left: 9px;
    margin-top: 10px;
    }
}

.btn{
    background-color: white;
    padding: 4px;
    font-weight: 600;
    margin-left: 114px;
    margin-top: 22px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
}
.btnIn{
    text-decoration: none;
    color: black;
}


@media screen and (min-width: 200px) and (max-width: 600px) {
   .btn {
    width: 100px;
    margin-left: 10px;
    }
}
 /* css for about page */

 .col-lg-6 px-0{
 display: flex;
 flex-direction: row;
 }
 .container {
    margin-top: 30px;
 }
 .livefood{
    margin-top: 20px;
 }
 .food{
    font-size: 35px;
    font-weight: 700;
    font-family: monospace;
 }
 .social_icon{
    /* display: flex; */
    align-items: center;
    /* flex-direction: column; */
}
@media screen and (min-width: 200px) and (max-width: 600px) {
    .social_icon {
      display: flex;
      flex-direction: column;
    }
    .col-md-6{
        width: 400px;
        
    }
}

.shop{
    margin-left: 100px;
}
.micro{
    margin-top: -45px;
}
.gog{
    margin-left: 376px;
    margin-top: -45px;
}
.ideas{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
.inspir{
    text-align: center;
    margin-top: 50px;
    margin-bottom: -62px;

}
.homesecond{
   
        height: 307px;
        /* display: flex; */
        /* justify-content: center; */
        width: 59%;
        position: relative;
       height: 350px;
       margin-left: 278px;
}
.guide{
    position: absolute;
 
    left: 594px;
    z-index: 9;
    padding: 10px;
    background: orangered;
    top: 747px;
    font-size: 21px;
    color: wheat;

}
.desingercont{
    height: 300px;
    width: 520px;

}
.designersecondcont{
    height: 300px;
    width: 520px;
    border-left: 1px solid grey;
}
.desinermaindiv{
    display: flex;
    justify-content: center;
    margin: 39px;
}
.homedispl{
    display: flex;
}
.img11{
    margin:14px
}
.img11text{
    margin-top: 29px;
    font-size: 18px;
}
.spetcook{
    
        font-size: 43px;
        margin-top: 12px;
        letter-spacing: -2px;
        font-family: monospace;
        margin-left: 50px;  
    
}
.fav_snack{
    font-size: 17px;
    padding: 3px;
    margin-left: 55px;

}
.viewcomp{
    color: red;
    font-size: 18px;
    padding: 10px;
    background: antiquewhite;
    width: 189px;
    margin-left: 167px;
    margin-top: 10px;
  }
  
@media screen and (min-width: 200px) and (max-width:768px) {
    .homesecond { 
        width: 315px;
    height: 128px;
    margin-left: 25px;
    position: relative;
     }
     .guide{
        width: 172px;
        position: inherit;
        margin-left: 97px;
     }
     .viewcomp{
        font-size: 14px;
        margin-left: 28px;
        width: 183px
     } 
     .spetcook {
        font-size: 23px;
        width: 274px;
        margin-left: 5px;
     }
     .fav_snack{
        font-size: 14px;
    margin-left: 6px;
    width: 216px;
    margin-top: -21px;
     }
     .img11{
        height: 50px;
        
     }
     .img11text{
        font-size: 13px;
       
        width: 169px;
        margin-top: 19px;
     }
     .desinermaindiv {
        display: flex;
        flex-direction: column;
     }
     .designersecondcont{

    margin-left: -22px;
    margin-top: -122px;
    height: 235px;
    width: 300px;
}
.desingercont{
    width: fit-content;
}
    }